* {
    margin:0;
    box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  color: #fffdf8;
  background-color: #d25b00;
}

/*************************SLIDER*************************/
.mySlides {display: none}

img {
  vertical-align: middle;
  height: 39rem;
  width: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffeba7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 12px;
}

.active {
  background-color: #ffc704;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* Formulari */


/************info************/
#info div {
  padding: 5px;
  justify-content: justify;
}

#info div * {
  margin: 20px;
}

#info div h1 {
  font-family: 'Roboto Slab', serif;
}

.muralla_img {
  width: 80%;
  height: 420px;
  padding: 10px;
  border-radius: 20px;
}

/************************NOVETATS************************/
#novetats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.novetats1 {
  width: 30%;
  border: 1px solid #d2004e;
  border-radius: 20px;
  background-color: #ff7104;
}
.novetats2 {
  padding: 0;
  margin: 0;
}
.novetats1 img {
  border-radius: 20px;
  width: 90%;
  height: 400px;
}
.novetats1 h3 {
  text-align: center;
  font-variant: small-caps;
}

/*************************FOOTER*************************/
footer {
  margin-top: 15px;
  background-color: #974200;
  padding: 10px;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
}
footer * {
  padding: 4px;
}
.foot {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.logo_footer {
  width: 45px;
  height: 45px;
}

/*************************menu*************************/
.botnav {
  float: left;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.botnav:hover {
  color: #ffc800;
  padding: 10px 16px;
}

/*************************xarxes*************************/
#fafa1 {
  padding: 4px;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 5px;
  color: #fff;
  font-size: xx-large;
  text-align: center;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border 1s ease-in-out;
}
#fafa1:hover {
  cursor: pointer;
  color: rgb(255, 0, 221);
  border: 4px solid rgb(255, 232, 252);
  background-color: rgb(255, 232, 252);
}

#fafa2 {
  padding: 4px;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 5px;
  color: #fff;
  font-size: xx-large;
  text-align: center;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border 1s ease-in-out;
}
#fafa2:hover {
  cursor: pointer;
  color: blue;
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

#fafa3 {
  padding: 4px;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 5px;
  color: #fff;
  font-size: xx-large;
  text-align: center;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border 1s ease-in-out;
}
#fafa3:hover {
  cursor: pointer;
  color: rgb(0, 140, 255);
  border: 4px solid rgb(179, 221, 255);
  background-color: rgb(179, 221, 255);
}

.tel {
  width: 30px;
  height: 30px;
}
.ubi {
  width: 30px;
  height: 30px;
}
.contacte {
  text-align: center;
}



/************************* LA CARTA (NOSTRES PRODUCTES) *******************/

.Plat{
 border-radius: 5px;
 padding: 10px;
 width: 28rem;
 height: 28rem;


}

@media (max-width: 600px) {
  .Plat {
    flex: 33%;
    max-width: 33%;
    flex-direction: row;
    width: 15rem;
    height: 15rem;
  }
}



.equip1 {
  width: 30%;
 margin: 20px;
}
.equip1 img {
  border-radius: 20px;
  width: 90%;
  height: 400px;
  padding: 0px;
}
.equip1 h3 {
  text-align: center;
  font-variant: small-caps;
}

